.testimonialBox{
  
    width: 50%;
    margin: auto;
    margin-top: 150px;
   
}
.title{
    font-size: 40px;
    text-align: center;
    color: rgb(91, 91, 91);
 
}
.testimonialCarusal{
    
    display: flex;
    justify-content: center;
    padding: 30px 0;
   
}
.containertestimonial{
   
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 70%;
    margin: auto;
    margin-bottom: 17px;
}

.profilePic{
    border-radius: 50%;
    margin: auto;
}

.testimonialdetails{
    font-size: 14px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}
.desc{
   
    /* border: 2px solid blueviolet; */
    padding:0 20px 50px 20px ;

}
.userdetails{
    line-height: 30px;
}

